<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <span class="container">
            <img src="./assets/icons/settings_heart.svg" alt="settings" class="icon" (click)="openSettings()" />

            <span *ngIf="hasNotification;else noNotif">
                <span class="notification-dot-s">4</span>
                <img src="./assets/icons/notifications.svg" alt="new notification"
                    class="icon notification-active" (click)="openNotifications()" />
            </span>
            <ng-template #noNotif>
                <img src="./assets/icons/notifications.svg" alt="notification" (click)="openNotifications()"
                    class="icon" />
            </ng-template>
        </span>
    </mat-toolbar-row>

</mat-toolbar>