.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 4px;
}

.field{
    font-size: 12px;
    width: 100%;
}

.button{
    color:white !important;
}