@use '../../../assets/variables' as v;

.message {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: x-medium;
    color: white;
}

.container {
    display: flex;
}

.button {
    height: 35px;
    width: 50px;
    border-radius: 50px 50px 0 0;
    background-color: #a0c48a;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    left: calc(50% - 25px);
    bottom: -2px;
    z-index: 5;
}

.send-icon {
    width: 30px;
    height: 30px;
}

.panel {
    background-color: #a0c48a !important;
    color: white !important;
}