<div class="button" (click)="togglePanel()">
    <img src="./assets/icons/mail.svg" alt="" class="send-icon" />
</div>
<mat-accordion class="panel">
    <mat-expansion-panel (opened)="isPanelOpen = true" (closed)="isPanelOpen = false" hideToggle class="panel" disabled>
        <mat-expansion-panel-header>
            <mat-panel-description>
                {{setMessage()}}
            </mat-panel-description>
        </mat-expansion-panel-header>
       <app-bottom-panel></app-bottom-panel>
    </mat-expansion-panel>
</mat-accordion>